name: Build container

on:
  workflow_run:
    workflows:
      - "Build"
    branches:
      - "main"
    types:
      - completed
  release:
    types:
      - published

jobs:
  tagged-container:
    if: >-
      ${{ (github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success') ||
          (github.event_name == 'release'      && github.event.action == 'published') }}
    name: Build and push container
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        name: Extract metadata
        id: meta
        with:
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'
      - uses: ko-build/setup-ko@3aebd0597dc1e9d1a26bcfdb7cbeb19c131d3037 # v0.7
      - run: ko build --base-import-paths --tags "$(printf '%s' "${{ steps.meta.outputs.tags }}" | tr '\n' ',')" github.com/dnstapir/edm/cmd/dnstapir-edm
        name: Build and push
        env:
          VERSION: ${{ github.event_name == 'release' && github.ref_name || github.sha }}
